// css loading
.lazy-load {
  position: fixed;
  height: 100%;
  width: 100%;
  background: $white-cl;
  top: 0;
  right: 0;
  z-index: 10;
  display: flex;
  justify-content: center;

  span {
    height: 2px;
    width: 50px;
    background: $black-cl;
    align-self: center;
    animation: rotate 1.5s infinite;

    @keyframes rotate {
      from {
        transform: rotate(0);
        background: $black-cl;
      }

      to {
        transform: rotate(180deg);
        background: $white-cl;
      }
    }
  }
}
